<?php
return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\\DBAL\\Driver\\PDOMySql\\Driver',
                'params' => array(
                    'database' => 'doctrine-skeleton',
                    'user' => 'root',
                    'password' => '123',
                    'host' => 'localhost',
                    'dbname' => 'doctrine-skeleton',
                    'port' => '3306',
                ),
            ),
        ),
    ),
);
